body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.button-group {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.button-group button {
    background-color: #eee;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-group button:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.button-group button.google {
    background-color: gray;
    color: #fff;
}

.button-group button.google:hover {
    background-color: rgb(78, 78, 78);
}

.button-group button.github {
    background-color: gray;
    color: #fff;
}

.button-group button.github:hover {
    background-color: rgb(78, 78, 78);
}

.button-group button.google:before {
    content: "";
    display: inline-block;
    background-image: url("https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg");
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background-size: contain;
}

.button-group button.github:before {
    content: "";
    display: inline-block;
    background-image: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png");
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background-size: contain;
}
.signup-link {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
  }
  
  
  .signup-link span {
    display: inline-block;
    margin-right: 5px;
  }
  

  .signup-link a {
    cursor: pointer;
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
 
  .signup-link a:hover {
    color: #2E8B57;
  }
