body {
  background-color: #1b1b1b;
  margin: 0;
  padding: 0;
}

#align-items-login {
  display: flex;
  justify-content: center;
  margin-top: 14vh;
}

#main-login {
  background-color: #f0a202;
  width: 354px !important;
  padding: 50px;
  font-family: "Lato", sans-serif;
}

#main-login label {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin-top: 10px;
  color: white;
}

#main-login h1 {
  display: flex;
  justify-content: center;
}

#main-login input {
  background-color: white;
  width: 350px;
  height: 40px;
  border-radius: 8px;
  border: none;
}

#button-login {
  background-color: #9623be;
  color: white;
  border: none;
  border-radius: 8px;
  width: 353px;
  height: 40px;
  margin-top: 20px;
}

#register-login {
  margin: 10px 0 10px 0;
}

#align-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#align-login img {
  width: 400px;
}

#align-login a {
  color: black;
}

#width-login {
  width: 657px;
  border-radius: 8px;
  background-color: #f0a202;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#button-github-login {
  background-color: rgb(14, 14, 14);
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  border: none;
  height: 37px;
  width: 200px;
}
